/* styles.css */

/* Tu CSS personalizado aquí */
.header {
    margin-bottom: 2rem;
}

.nav-link {
    margin: 0 0.5rem;
}

.footer {
    margin-top: 2rem;
}

/* Ajustes específicos para personalizar los estilos de Bootstrap */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


/* styles.css */

.interactive-card {
    position: relative;
    overflow: hidden;
}

.card-img-overlay {
    transition: opacity 0.5s ease;
}

.card-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente para el hover */
}

.interactive-card:hover .card-hover-overlay {
    opacity: 0;
}

.interactive-card:hover .card-img-overlay {
    opacity: 1;
}

.text-description {
    text-align: center; /* Centra el texto horizontalmente */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia para el texto */
    color: #000; /* Color del texto negro */
    width: 100%; /* O ajusta según necesites */
    padding: 10px; /* Añade algo de espacio dentro del contenedor de texto */
}
