/* styles.css */

/* Tu CSS personalizado aquí */
.header {
    margin-bottom: 2rem;
}

.nav-link {
    margin: 0 0.5rem;
}

.footer {
    margin-top: 2rem;
}

/* Ajustes específicos para personalizar los estilos de Bootstrap */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


/* Estilos personalizados para la tarjeta del proyecto */
.project-card {
    position: relative;
    overflow: hidden;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Atenuación de color negro con opacidad */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.text-overlay {
    text-align: center;
    padding: 15px;
}

/* Estilos para cuando se pase el mouse por encima */
.project-card:hover .hover-overlay {
    opacity: 1;
}

/* Ajustar el contenedor de las tarjetas */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: flex-start; /* Alinear al inicio verticalmente para que las alturas desiguales no afecten la alineación */
    gap: 20px; /* Esto añade un espacio entre las cajas, ajusta según necesites */

}

/* Ajustes para las tarjetas de proyecto para hacerlas cuadradas y de tamaño fijo */
.card.project-card {
    /* Asegúrate de que la tarjeta tenga un ancho fijo para que todas las tarjetas sean del mismo tamaño */
    width: 250px; /* o cualquier otro tamaño que prefieras */
    /* Altura fija para la imagen para mantener la tarjeta cuadrada */
    height: 250px; /* Debe ser el mismo valor que el ancho si quieres una tarjeta cuadrada */
    margin-bottom: 20px; /* Espacio debajo de cada caja */
}

.card.project-card img {
    object-fit: cover; /* Asegúrate de que la imagen cubra todo el espacio disponible sin distorsionarse */
    height: 100%; /* Altura igual al contenedor para mantener la proporción */
}
